.tshirt{
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
}
.tshirt img{
    height: 250px;
    border-radius: 10px;
}
.t-button{
    color: rgb(193, 185, 221);
    background-color: rgb(27, 39, 67);
}